In [1]:
# Main Packages
import numpy as np
import pandas as pd

# In case we want to ignore the warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# importing the dataset
df = pd.read_csv('brazilian_ecommerce.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'order_id', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'quantity', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'seller_zip_code_prefix', 'seller_city',
       'seller_state', 'product_category_name_english', 'sale', 'is_delayed'],
      dtype='object')

In [4]:
# dropping the unnecessary index columns
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [5]:
# checking to see the number of missing values in the data per column
df.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
quantity                            833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
payment_sequential                    3
payment_type                          3
payment_installments                  3
payment_value                         3
review_id                           997
review_score                        997
review_comment_title             105154
review_comment_message            68898
review_creation_date                997
review_answer_timestamp             997
product_category_name              2542
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
seller_zip_code_prefix              833
seller_city                         833
seller_state                        833
product_category_name_english      2567
sale                                833
is_delayed                            0
dtype: int64

In [6]:
# finding the class distribution in our label
df['is_delayed'].value_counts()

False    110075
True       9068
Name: is_delayed, dtype: int64

The $\underline{order\_id}$, $\underline{customer\_id}$, $\underline{product\_id}$, $\underline{seller\_id}$, $\underline{review\_id}$, $\underline{customer\_unique\_id}$ are ID columns where most of the values are unique and, thus, these columns will not be able to provide the model with good insights during the training phase. Hence, it's best to do away with these ID columns.

In [7]:
df = df.drop(['order_id', 'customer_id', 'product_id', 'seller_id', 'review_id', 'customer_unique_id'], axis=1)
df

,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,quantity,shipping_limit_date,price,freight_value,...,product_width_cm,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,sale,is_delayed
0,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,2017-10-06 11:07:15,29.99,8.72,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
1,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,2017-10-06 11:07:15,29.99,8.72,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
2,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,2017-10-06 11:07:15,29.99,8.72,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
3,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28,1.0,2017-08-21 20:05:16,29.99,7.78,...,13.0,3366,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
4,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15,1.0,2017-08-08 18:37:31,29.99,7.78,...,13.0,2290,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,2018-07-11 22:27:32,2018-07-11 22:45:43,NaN,NaN,2018-07-20,1.0,2018-07-16 22:45:43,44.99,7.58,...,30.0,3402,sao paulo,SP,5201.0,sao paulo,SP,books_imported,44.99,False
119139,delivered,2018-05-16 14:50:54,2018-05-16 15:18:42,2018-05-18 12:10:00,2018-05-21 17:14:08,2018-05-28,1.0,2018-05-22 15:18:42,58.99,7.39,...,23.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,books_imported,58.99,False
119140,delivered,2018-06-13 12:19:26,2018-06-13 17:39:14,2018-06-15 13:09:00,2018-06-16 17:48:30,2018-06-28,1.0,2018-06-19 17:39:14,23.99,7.43,...,23.0,2927,sao paulo,SP,5201.0,sao paulo,SP,books_imported,23.99,False
119141,delivered,2018-08-07 10:52:58,2018-08-07 11:05:18,2018-08-08 08:31:00,2018-08-22 17:02:23,2018-09-04,1.0,2018-08-13 11:05:18,749.00,55.96,...,16.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,books_imported,749.00,False
119142,processing,2017-02-19 22:31:47,2017-02-19 22:45:13,NaN,NaN,2017-03-21,1.0,2017-02-23 22:31:47,99.00,15.90,...,18.0,35519,nova serrana,MG,1309.0,sao paulo,SP,books_imported,99.00,False

As seen before, inorder to determine whether the delivery of the product is late or not (the $\underline{is\_delayed}$ label), we take the difference between $\underline{'order\_delivered\_customer\_date'}$ and $\underline{'order\_estimated\_delivery\_date'}$. Therefore, we will get rid of all the timestamps since they don't contribute to our prediction.

In [8]:
df = df.drop(['order_estimated_delivery_date', 'order_delivered_customer_date', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'shipping_limit_date', 'review_creation_date'], axis = 1)
df

,order_status,quantity,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_score,review_comment_title,...,product_width_cm,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,sale,is_delayed
0,delivered,1.0,29.99,8.72,1.0,credit_card,1.0,18.12,4.0,NaN,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
1,delivered,1.0,29.99,8.72,3.0,voucher,1.0,2.00,4.0,NaN,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
2,delivered,1.0,29.99,8.72,2.0,voucher,1.0,18.59,4.0,NaN,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
3,delivered,1.0,29.99,7.78,1.0,credit_card,3.0,37.77,4.0,NaN,...,13.0,3366,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
4,delivered,1.0,29.99,7.78,1.0,credit_card,1.0,37.77,5.0,NaN,...,13.0,2290,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,1.0,44.99,7.58,1.0,credit_card,1.0,52.57,1.0,Atraso na entrega,...,30.0,3402,sao paulo,SP,5201.0,sao paulo,SP,books_imported,44.99,False
119139,delivered,1.0,58.99,7.39,1.0,credit_card,1.0,66.38,5.0,NaN,...,23.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,books_imported,58.99,False
119140,delivered,1.0,23.99,7.43,1.0,boleto,1.0,31.42,5.0,NaN,...,23.0,2927,sao paulo,SP,5201.0,sao paulo,SP,books_imported,23.99,False
119141,delivered,1.0,749.00,55.96,1.0,credit_card,10.0,804.96,5.0,Muito bom,...,16.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,books_imported,749.00,False
119142,processing,1.0,99.00,15.90,1.0,credit_card,5.0,114.90,1.0,NaN,...,18.0,35519,nova serrana,MG,1309.0,sao paulo,SP,books_imported,99.00,False

In [9]:
# (df['order_estimated_delivery_date'] - df['order_delivered_customer_date']).describe()

In [10]:
print('{:.2f}%'.format(df['review_comment_message'].isna().sum()/len(df)*100))

57.83%

Since we have ~ 58% missing $\underline{review\_comment\_message}$ data, it doesn't make sense to impute the review comment messages since:
 1. We'll have to use NLP for this which is beyond the scope of our project.
 2. Even if we decide to use NLP, we have very little data to work with.
 3. Further, because of the aforementioned reason, we'll be feeding the model with wrong information in the form of imputed comment messages which may adversely affect the accuracy of the model.
 
Also, it does not make sense to remove the 58% of the rows with missing values since it will lead to massive information loss.
Hence, we will drop this column. Since, the other 2 columns ($\underline{'review\_comment\_title'}$ and $\underline{'review\_answer\_timestamp'}$) are also directly correlated to review_comment_message, we will be dropping them as well. Since, 'review_score' is highly correlated to the label, we will keep it as is.

In [11]:
df = df.drop(['review_comment_title', 'review_comment_message', 'review_answer_timestamp'], axis=1)
df

,order_status,quantity,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_score,product_category_name,...,product_width_cm,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,sale,is_delayed
0,delivered,1.0,29.99,8.72,1.0,credit_card,1.0,18.12,4.0,utilidades_domesticas,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
1,delivered,1.0,29.99,8.72,3.0,voucher,1.0,2.00,4.0,utilidades_domesticas,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
2,delivered,1.0,29.99,8.72,2.0,voucher,1.0,18.59,4.0,utilidades_domesticas,...,13.0,3149,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
3,delivered,1.0,29.99,7.78,1.0,credit_card,3.0,37.77,4.0,utilidades_domesticas,...,13.0,3366,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
4,delivered,1.0,29.99,7.78,1.0,credit_card,1.0,37.77,5.0,utilidades_domesticas,...,13.0,2290,sao paulo,SP,9350.0,maua,SP,housewares,29.99,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,1.0,44.99,7.58,1.0,credit_card,1.0,52.57,1.0,livros_importados,...,30.0,3402,sao paulo,SP,5201.0,sao paulo,SP,books_imported,44.99,False
119139,delivered,1.0,58.99,7.39,1.0,credit_card,1.0,66.38,5.0,livros_importados,...,23.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,books_imported,58.99,False
119140,delivered,1.0,23.99,7.43,1.0,boleto,1.0,31.42,5.0,livros_importados,...,23.0,2927,sao paulo,SP,5201.0,sao paulo,SP,books_imported,23.99,False
119141,delivered,1.0,749.00,55.96,1.0,credit_card,10.0,804.96,5.0,livros_importados,...,16.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,books_imported,749.00,False
119142,processing,1.0,99.00,15.90,1.0,credit_card,5.0,114.90,1.0,livros_importados,...,18.0,35519,nova serrana,MG,1309.0,sao paulo,SP,books_imported,99.00,False

There is very high correlation between two columns namely 'product_category_name' and 'product_category_name_english' since they are the same thing but in two different languages. So, we will get rid of $\underline{'product\_category\_name\_english'}$.

In [12]:
df = df.drop(['product_category_name_english'], axis=1)
df

,order_status,quantity,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_score,product_category_name,...,product_height_cm,product_width_cm,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,sale,is_delayed
0,delivered,1.0,29.99,8.72,1.0,credit_card,1.0,18.12,4.0,utilidades_domesticas,...,8.0,13.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False
1,delivered,1.0,29.99,8.72,3.0,voucher,1.0,2.00,4.0,utilidades_domesticas,...,8.0,13.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False
2,delivered,1.0,29.99,8.72,2.0,voucher,1.0,18.59,4.0,utilidades_domesticas,...,8.0,13.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False
3,delivered,1.0,29.99,7.78,1.0,credit_card,3.0,37.77,4.0,utilidades_domesticas,...,8.0,13.0,3366,sao paulo,SP,9350.0,maua,SP,29.99,False
4,delivered,1.0,29.99,7.78,1.0,credit_card,1.0,37.77,5.0,utilidades_domesticas,...,8.0,13.0,2290,sao paulo,SP,9350.0,maua,SP,29.99,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,1.0,44.99,7.58,1.0,credit_card,1.0,52.57,1.0,livros_importados,...,2.0,30.0,3402,sao paulo,SP,5201.0,sao paulo,SP,44.99,False
119139,delivered,1.0,58.99,7.39,1.0,credit_card,1.0,66.38,5.0,livros_importados,...,2.0,23.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,58.99,False
119140,delivered,1.0,23.99,7.43,1.0,boleto,1.0,31.42,5.0,livros_importados,...,2.0,23.0,2927,sao paulo,SP,5201.0,sao paulo,SP,23.99,False
119141,delivered,1.0,749.00,55.96,1.0,credit_card,10.0,804.96,5.0,livros_importados,...,14.0,16.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,749.00,False
119142,processing,1.0,99.00,15.90,1.0,credit_card,5.0,114.90,1.0,livros_importados,...,9.0,18.0,35519,nova serrana,MG,1309.0,sao paulo,SP,99.00,False

We have seen through the scatter-plots that the product dimensions don't have much impact on our label. However, product delays could be attributed to the volume of the package. Bulkier the package, its transportation time may be expected to be large. For this reason, we're calculating the volume of the package and storing it as another attribute in the dataframe to give our model additional data to work with. We'll let the model decide which features are important in the training phase.

In [13]:
# calculating the volume of the product using the formula [Volume of cuboid = length*width*height]
df['product_volume_cm'] = df['product_length_cm'] * df['product_height_cm'] * df['product_width_cm']
df = df.drop(['product_length_cm', 'product_height_cm', 'product_width_cm'], axis = 1)
df

,order_status,quantity,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_score,product_category_name,...,product_weight_g,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,sale,is_delayed,product_volume_cm
0,delivered,1.0,29.99,8.72,1.0,credit_card,1.0,18.12,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
1,delivered,1.0,29.99,8.72,3.0,voucher,1.0,2.00,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
2,delivered,1.0,29.99,8.72,2.0,voucher,1.0,18.59,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
3,delivered,1.0,29.99,7.78,1.0,credit_card,3.0,37.77,4.0,utilidades_domesticas,...,500.0,3366,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
4,delivered,1.0,29.99,7.78,1.0,credit_card,1.0,37.77,5.0,utilidades_domesticas,...,500.0,2290,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,1.0,44.99,7.58,1.0,credit_card,1.0,52.57,1.0,livros_importados,...,300.0,3402,sao paulo,SP,5201.0,sao paulo,SP,44.99,False,1500.0
119139,delivered,1.0,58.99,7.39,1.0,credit_card,1.0,66.38,5.0,livros_importados,...,300.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,58.99,False,1518.0
119140,delivered,1.0,23.99,7.43,1.0,boleto,1.0,31.42,5.0,livros_importados,...,150.0,2927,sao paulo,SP,5201.0,sao paulo,SP,23.99,False,1518.0
119141,delivered,1.0,749.00,55.96,1.0,credit_card,10.0,804.96,5.0,livros_importados,...,300.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,749.00,False,3584.0
119142,processing,1.0,99.00,15.90,1.0,credit_card,5.0,114.90,1.0,livros_importados,...,1300.0,35519,nova serrana,MG,1309.0,sao paulo,SP,99.00,False,4698.0

Since there are very few missing values for all attributes (maximum being 3240 for order_delivered_customer_date), we'll drop these rows. Dropping such a miniscule number of rows will have negligible effect on the quality of the data or our predictions.

In [14]:
# dropping remaining missing values from the dataframe
df = df.dropna()
df

,order_status,quantity,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_score,product_category_name,...,product_weight_g,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,sale,is_delayed,product_volume_cm
0,delivered,1.0,29.99,8.72,1.0,credit_card,1.0,18.12,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
1,delivered,1.0,29.99,8.72,3.0,voucher,1.0,2.00,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
2,delivered,1.0,29.99,8.72,2.0,voucher,1.0,18.59,4.0,utilidades_domesticas,...,500.0,3149,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
3,delivered,1.0,29.99,7.78,1.0,credit_card,3.0,37.77,4.0,utilidades_domesticas,...,500.0,3366,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
4,delivered,1.0,29.99,7.78,1.0,credit_card,1.0,37.77,5.0,utilidades_domesticas,...,500.0,2290,sao paulo,SP,9350.0,maua,SP,29.99,False,1976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,invoiced,1.0,44.99,7.58,1.0,credit_card,1.0,52.57,1.0,livros_importados,...,300.0,3402,sao paulo,SP,5201.0,sao paulo,SP,44.99,False,1500.0
119139,delivered,1.0,58.99,7.39,1.0,credit_card,1.0,66.38,5.0,livros_importados,...,300.0,9411,ribeirao pires,SP,5201.0,sao paulo,SP,58.99,False,1518.0
119140,delivered,1.0,23.99,7.43,1.0,boleto,1.0,31.42,5.0,livros_importados,...,150.0,2927,sao paulo,SP,5201.0,sao paulo,SP,23.99,False,1518.0
119141,delivered,1.0,749.00,55.96,1.0,credit_card,10.0,804.96,5.0,livros_importados,...,300.0,65700,bacabal,MA,22745.0,rio de janeiro,RJ,749.00,False,3584.0
119142,processing,1.0,99.00,15.90,1.0,credit_card,5.0,114.90,1.0,livros_importados,...,1300.0,35519,nova serrana,MG,1309.0,sao paulo,SP,99.00,False,4698.0

In [15]:
# dertermining if there are any missing values still left
df.isna().sum()

order_status                  0
quantity                      0
price                         0
freight_value                 0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
review_score                  0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
customer_zip_code_prefix      0
customer_city                 0
customer_state                0
seller_zip_code_prefix        0
seller_city                   0
seller_state                  0
sale                          0
is_delayed                    0
product_volume_cm             0
dtype: int64

In [76]:
# storing the cleaned dataset
df.to_csv('brazilian_ecommerce_cleaned.csv', index=False)